{{>site-header}}

	<div class="page-content">

		<h2>{{ this.page.title}}</h2>
		
		{{#markdown}}
			{{> body}}
		{{/markdown}}

		<ul>
			{{#withSort post 'data.posted'}}
				{{#each this.pages }}
				<li>{{ this.data.title }}</li>
				{{/each}}
			{{/withSort}}
		</ul>

	</div>

{{>site-footer}}